/* 基本配色はhttps://saruwakakun.com/design/gallery/palette */
/* 親しみやすい色一番上 #EF866B #F7B46B #F7D76B #BCB5B5 */
/* 基本的なパーツのデザイン */

html{
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  line-height: 2em;
  font-family: "Arial", "メイリオ";
  color: #bcb5b5;
}

header {
  font-size: 1.6em;
  display: flex;
  justify-content: center;
  padding: 0.8em;
  background-color: #ef866b;
  color: white;
}

main {
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0.4em;
  color: #ef866b;
}

h2 {
  font-size: 1.6em;
  color: #ef866b;
  margin-top: 0.8em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.2em;
  margin: 0 auto;
  color: #f7d76b;
  margin-top: 0.8em;
}

.marker {
  background: linear-gradient(transparent 50%, #f7d76b 50%);
}

button {
  background-color: #ef866b;
  font-size: 0.8em;
  border: none;
  padding: 0.4em;
  border-radius: 12px;
  color: white;
}

button:hover {
  background-color: #f7b46b;
  font-size: 0.8em;
  border: none;
  padding: 0.4em;
  border-radius: 12px;
  color: white;
}

button.disabled {
  background-color: #bcb5b5;
}

pre {
  padding: 1.6em;
  line-height: 1em;
  text-align: left;
  width: 800px;
  margin: 0 auto;
  overflow: auto;
  resize: horizontal;
  border-radius: 12px;
}

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #bcb5b5;
  padding: 1.2em;
}

select {
  font-size: 0.68em;
}

footer div {
  line-height: 1.6em;
}

/* mapping-demo.html用のデザイン */
/* map div用 */
div#map {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #f7d76b;
  line-height: 1.2em;
  font-size: 0.8em;
  padding: 0.4em;
}

.map__df {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
/* dfはdisplay:flex;の略 */

.map__keyAndVal {
  margin-left: 24px;
}

.map__leftmost {
  margin-left: 8px;
}

.map__left {
  margin-left: 24px;
  margin-top: 0.4em;
}

div[id^="key"]:hover {
  background-color: #f7d76b;
}

div.map__keyAndVal:hover {
  background-color: #f7b46b;
}

/* functions内のデザイン */

#functions {
  margin: 0.4em;
  padding: 0.4em;
  width: 1200px;
  margin: 0 auto;
}

#funcW {
  width: 100%;
}

.funcR__tab {
  margin-left: 12px;
}

.funcR__tabTab {
  margin-left: 24px;
}

#funcR__select {
  width: 800px;
}

/* map以外のデモ用の汎用デザイン */
/* output */
#output table {
  max-width: 800px;
  text-align: left;
  /* overflow-x: scroll; */
  /* resize: horizontal; */
  margin: 0 auto;
  line-height: 1.6em;
}
#output td {
  border: #f7d76b 1px solid;
  padding: 0.4em;
  /* white-space: nowrap; */
}

#output th {
  background-color: #f7d76b;
  border: #f7d76b 1px solid;
  padding: 0.4em;
}

/* Executed Code */
#code {
  width: 1000px;
  margin: 0 auto;
}

/* Reference */
#reference table {
  max-width: 800px;
  text-align: left;
  /* overflow-x: scroll; */
  /* resize: horizontal; */
  margin: 0 auto;
  line-height: 1.6em;
}
#reference td {
  border: #f7d76b 1px solid;
  padding: 0.4em;
  /* white-space: nowrap; */
}

#reference th {
  background-color: #f7d76b;
  border: #f7d76b 1px solid;
  padding: 0.4em;
}

/* custom内 */
div#custom {
  font-size: 1.2em;
}

#custom__df {
  display: flex;
  justify-content: center;
}

select[id^="custom"] {
  font-size: 0.6em;
}

/* chat用のデザイン */
.chat__right {
  text-align: right;
}

.chat__left {
  text-align: left;
}
